/*
 * Standard styling for utils.gui.GenericSlider
 *
 * @author sunilk@mokacreativellc.com (Sunil Kumar)
 */



.utils-gui-genericslider-horizontal {
    position : absolute;
    width : 10px;
    height : 100%;
    left : 0px;
    top : 0px;	
    background-color : rgb(255,255,255)
}


.utils-gui-genericslider-track-horizontal {
    position: absolute;
    width : 40%;
    height : 100%;
    left: 0%;
    background-color : rgba(100,100,100,0);
    zIndex: 99;
}


.utils-gui-genericslider-thumb-horizontal {
    position : absolute;
    top : 0px;
    height : 10px;
    width: 10px;
    background-color: rgb(225, 225, 225);
    z-index: 100;
    cursor: pointer;
}





.utils-gui-genericslider-vertical {
    position : absolute;
    width : 100%;
    height : 10px;
    left : 0px;
    top : 0px;	
    border-color : rgba(200,200,200,1);
}


.utils-gui-genericslider-track-vertical {
    position: absolute;
    height: 10px;
    width: 10px;
    background-color: rgb(225, 225, 225);
    border-radius: 0px;	
}


.utils-gui-genericslider-thumb-vertical {
    position: absolute;
    width : 100%;
    height : 40%;
    top: 30%;
    background-color : rgba(100,100,100,0);
    cursor: pointer;
}


.utils-gui-genericslider-thumb-hovered-border {
    margin-top: -1px;
    margin-left: -1px;
    border: solid 1px;
    border-color: rgba(255, 255, 255, 1);
    border-width: 1px;
    z-index: 5000;
}


.utils-gui-genericslider-thumb-hovered-color {
    background-color: rgb(200,200,200);
}