/*
 * Standard styling for the scroll gallery
 *
 * @author sunilk@mokacreativellc.com (Sunil Kumar)
 */



.utils-ui-scrollablecontainer {
    top: 0px;
    left: 0px;
    width: 180px;
    height: 100%;
    position: absolute;
    overflow: hidden;
    overflow-x: hidden;
    overflow-y: hidden;
}


.utils-ui-scrollablecontainer-scrollarea {
    display: block;
    position: relative;
    width: 93%;
    left: 14px;
}


.utils-ui-scrollablecontainer-zippyheader {

    position: relative;
    background-color: rgb(100,100,100);
    left: 0px;
    width: 100%;
    height: 1.5em;
    color: rgb(0,0,0);
    font-size: 12px;
    font-family:  Helvetica,"Helvetica neue", Arial, sans-serif;
    cursor: pointer;
    display: inline-block;
    margin-top: 5px;
    z-index: 1000;
}


.utils-ui-scrollablecontainer-zippyheader-sub {
    margin-top: 3px;
    font-size: 11px;
    font-family:  Helvetica,"Helvetica neue", Arial, sans-serif;
    text-align: center;
    width: 70%;
    height: 1.2em;
}


.utils-ui-scrollablecontainer-zippyheader-mouseover {
    background-color: rgb(130,130,130);
}



.utils-ui-scrollablecontainer-zippyheaderlabel, .utils-ui-scrollablecontainer-zippyheaderlabel-sub {
    position: absolute;
    margin-top: .25em;
    margin-left: .3em;
    background-color: none;
    color: rgb(0,0,0);
}

.utils-ui-scrollablecontainer-zippyheaderlabel-sub {
    margin-top: .1em;
}





.utils-ui-scrollablecontainer-zippyexpandicon {
    position: absolute;
    right: .5em;
    margin-top: .25em;
    margin-left: -1em;
    color: rgb(0,0,0);
}


.utils-ui-scrollablecontainer-zippyexpandicon-sub {
    margin-top: .12em;
}



.utils-ui-scrollablecontainer-zippyexpandicon-mouseover {
    color: rgb(0,0,0);
}




.utils-ui-scrollablecontainer-zippycontent {
    overflow: visible;
    width: 100%;
    top: 25px;
    left: 12px;
    z-index: 1000;
}


.utils-ui-scrollablecontainer-zippycontent-sub {
 
}


.utils-ui-scrollablecontainer-slider-widget {
    width: 7px;
    background-color: rgb(0,0,0);
    border: none;
    height: 100%;
}



.utils-ui-scrollablecontainer-slider-thumb {
    height: 60px;
    width: 100%;
    background-color: rgb(120,120,120);
    z-index: 100;
    cursor: pointer;
}


.utils-ui-scrollablecontainer-slider-thumb-hovered {
    background-color: rgb(180,180,180);
}


.utils-ui-scrollablecontainer-slider-track {
    height: 100%;
    width: 100%;
    background-color: rgba(0,0,0,0);
    border: none;
    z-index: 99;
}

