/**
 * @author sunilk@mokacreativellc.com (Sunil Kumar)
 */


.utils-ui-zippynode-zippyheader {
    position: relative;
    background-color: rgb(50,50,50);
    left: 0px;
    width: 100%;
    font-size: 10px;
    height: 1.5em;
    color: rgb(120, 120, 120);
    font-family:  Helvetica,"Helvetica neue", Arial, sans-serif;
    cursor: pointer;
    z-index: 1000;
    line-height: 1.5em;
    margin-bottom: 4px;
}



.utils-ui-zippynode-zippyheader-mouseover {
    background-color: rgb(90,90,90);
    color: rgb(255,255,255);
}



.utils-ui-zippynode-zippyheaderlabel, .utils-ui-zippynode-zippyexpandicon {
    position: absolute;
    margin-left: .3em;
    background-color: none;
}


.utils-ui-zippynode-zippyexpandicon {
    right: .5em;
    margin-left: -10px;
    color: rgb(0,0,0);
}


.utils-ui-zippynode-zippyexpandicon-mouseover {
    color: rgb(0,0,0);
}




.utils-ui-zippynode-zippycontent {
    overflow: visible;
    width: 100%;
    top: 20px;
    left: 12px;
    z-index: 1000;
    margin-bottom: 4px;
}


