/*
 * Standard styling for the viewplane menu
 *
 * @author sunilk@mokacreativellc.com (Sunil Kumar)
 */



.xiv-viewplanemenu-widget, .xiv-viewplanemenu-icon {
    height: 15px; 
    width: 15px; 
    cursor: pointer;
    position: absolute;
}


.xiv-viewplanemenu-widget {
    left: 7px;
    top: 7px;
    z-index: 100;    
}


.xiv-viewplanemenu-icon {
    opacity: .5; 
}


.xiv-viewplanemenu-menuholder {
    position : absolute;
    left: 7px;
    top: 22px;	
    background-color: rgba(255,100,22,1);    
}


.xiv-viewplanemenu-menu {
  background-color: rgb(125,125,125);
  border: solid 1px rgb(50,50,50);
  z-index: 20000; 
  cursor: pointer;
  width: 130px;
}