/*
 * @author sunilk@mokacreativellc.com (Sunil Kumar)
 */





/**********************************
* Sagittal, Coronal and Transverse (One plane visible)
*********************************/

/* Hidden planes */
.xiv-viewscheme-sagittal-y, .xiv-viewscheme-sagittal-z, .xiv-viewscheme-sagittal-v,  .xiv-viewscheme-coronal-x, .xiv-viewscheme-coronal-z, .xiv-viewscheme-coronal-v, .xiv-viewscheme-transverse-x, .xiv-viewscheme-transverse-y, .xiv-viewscheme-transverse-v, .xiv-viewscheme-threed-x, .xiv-viewscheme-threed-y, .xiv-viewscheme-threed-z{
    width: 0%; 
    height: 0%; 
    visibility: hidden;
}


/* Visible Planes */
.xiv-viewscheme-sagittal-x, .xiv-viewscheme-coronal-y, .xiv-viewscheme-transverse-z, .xiv-viewscheme-threed-v  {
    width: 100%; 
    height: 90%; 
    top: 0%;
    left: 0%;
    visibility: visible;
}

/** 3D can be 100% because there
are no interactors*/
.xiv-viewscheme-threed-v  {
    height: 100%; 
}


/* Interactors */
.xiv-viewscheme-interactor-sagittal-y, .xiv-viewscheme-interactor-sagittal-z {
    visibility: hidden;
} 

.xiv-viewscheme-interactor-coronal-x, .xiv-viewscheme-interactor-coronal-z {
    visibility: hidden;
} 
.xiv-viewscheme-interactor-transverse-x, .xiv-viewscheme-interactor-transverse-y {
    visibility: hidden;
}
.xiv-viewscheme-interactor-threed-x, .xiv-viewscheme-interactor-threed-y, .xiv-viewscheme-interactor-threed-z {
    visibility: hidden;
}

.xiv-viewscheme-interactor-sagittal-x, .xiv-viewscheme-interactor-coronal-y, .xiv-viewscheme-interactor-transverse-z  {
    position: relative;
    top: 100%;
    margin-top: -30px;
    visibility: visible;
    z-index: 1000;
}






/*********************************
* Conventional
**********************************/

.xiv-viewscheme-conventional-x, .xiv-viewscheme-conventional-y, .xiv-viewscheme-conventional-z {
    width: 33.33%; 
    height: 43%; 
    top: 57%;
    position: absolute;
    visibility: visible;
}
.xiv-viewscheme-conventional-x {
    left: 0%; 
}
.xiv-viewscheme-conventional-y {
    left: 33.33%; 
    border-left: solid 1px rgb(120,120,120);
}
.xiv-viewscheme-conventional-z {
    left: 66.66%; 
    border-left: solid 1px rgb(120,120,120);
    margin-left: -1px;
}
.xiv-viewscheme-conventional-v {
    width: 100%; 
    height: 57%; 
    left: 0px;
    top: 0px;
    position: absolute;
    visibility: visible;
    border-bottom: solid 1px rgb(120,120,120);
}


.xiv-viewscheme-interactor-conventional-x, .xiv-viewscheme-interactor-conventional-y, .xiv-viewscheme-interactor-conventional-z  {
    position: absolute;
    top: 100%;
    width: 30%;
    margin-top: -30px;
}


.xiv-viewscheme-interactor-conventional-x {
    left: 2%;
    visibility: visible;
    z-index: 1000;
}

.xiv-viewscheme-interactor-conventional-y {
    left: 35.55%;
    visibility: visible;
    z-index: 1000;
}

.xiv-viewscheme-interactor-conventional-z {
    left: 68.66%;
    visibility: visible;
    z-index: 1000;
}


/*********************************
* Four-Up
**********************************/
.xiv-viewscheme-fourup-x, .xiv-viewscheme-fourup-y, .xiv-viewscheme-fourup-z, .xiv-viewscheme-fourup-v {
    width: 50%; 
    height: 50%; 
    visibility: visible;
    position: absolute;
}
/** top-left */
.xiv-viewscheme-fourup-z {
    top: 0%;
    left: 0%; 
    z-index: 99;
}

/** top-right */
.xiv-viewscheme-fourup-v {
    top: 0%;
    left: 50%;
    z-index: 100;
    border-left: solid 1px rgb(120,120,120);  
    margin-left: -1px;
}
/** bottom-left */
.xiv-viewscheme-fourup-x {
    top: 50%;
    left: 0%; 
    z-index: 101;
    border-top: solid 1px rgb(120,120,120);  
    margin-top: -1px;
}

/** bottom-right */
.xiv-viewscheme-fourup-y {
    top: 50%;
    left: 50%; 
    z-index: 102;
    border-top: solid 1px rgb(120,120,120);  
    margin-top: -1px;
    border-left: solid 1px rgb(120,120,120);  
    margin-left: -1px;
}






.xiv-viewscheme-interactor-fourup-x, .xiv-viewscheme-interactor-fourup-y, .xiv-viewscheme-interactor-fourup-z {
    position: absolute;
    top: 100%;
    margin-top: -30px; 
    width: 46%;
    visiblity: visible;
    z-index: 1000;
}


.xiv-viewscheme-interactor-fourup-x {
    left: 2%;
}

.xiv-viewscheme-interactor-fourup-y {
    left: 52%;
}

.xiv-viewscheme-interactor-fourup-z {
    top: 50%;
    left: 2%;
}


