/*
 * @author sunilk@mokacreativellc.com (Sunil Kumar)
 */



.xiv-viewer {
    top: 0px;
    left: 80px;
    width: 500px;
    height: 500px;
    border: solid rgba(90,90,90,1) 1px;
    position: absolute;
    overflow: hidden;
    overflow-x: visible;
    overflow-y: visible;
}

