/*
 * Standard styling for the Content Divider
 *
 * @author sunilk@mokacreativellc.com (Sunil Kumar)
 */



.xiv-contentdivider {
    position: absolute;
    top: 90%;
    left: 0px;
    width: 100%;
    height: 5px;
    cursor: n-resize;
    background-color: rgb(35,35,35);
    opacity: 1;
    color: rgb(85,85,85);
    font-size: 25px;
    text-align: center;
    z-index: 100000;
}



.xiv-contentdivider-containment {
    visibility: hidden;
    position: absolute;
    pointer-events: none;
    top: 20px;
    height: 50px;
    width: 1%;
    left: 0px;
    z-index: 99999;
    background-color: rgb(85,85,85);
    opacity: .5;

}



.xiv-contentdivider-icon {
    position: absolute;	
    opacity: .3;
    left: 50%;
    width: 12px;
    height: 3px;
    margin-left: -6px;
    top: 1px;
}



.xiv-contentdivider-boundary {
    top: 0px;
    left: 0px;
    width: 650px;
    height: 400px;
}