/*
 * Standard styling for the scroll gallery
 *
 * @author sunilk@mokacreativellc.com (Sunil Kumar)
 */



.xiv-thumbnail, .xiv-thumbnail-dragging {
    position: absolute;
    width: 87px;
    height: 87px;
    top: 0px;
    left: 0px;
    cursor: pointer;
    background-color: rgb(0,0,0);
    opacity: .7;


}

.xiv-thumbnail-dragging {
    z-Index: 100000;
    opacity: .85;
    width: 150px;
    background-color: rgba(0,0,0,0);

}


.xiv-thumbnail-selected {
    border: solid 1px rgb(220,220,220);
    -moz-box-sizing: border-box;
    -webkit-box-sizing: border-box;
    -ms-box-sizing: border-box;
    box-sizing: border-box;

}

.xiv-thumbnail-mouseover, .xiv-thumbnail-highlight {
    background-color: rgba(50,50,50, .8);
    opacity: 1;
    z-index: 10000;
    overflow: visible;
}


.xiv-thumbnail-image, .xiv-thumbnail-canvas {
    position: absolute;
    width: 70px;
    height: 70px;
    top: 8px;
    left: 8px;	
    overflow-y: hidden;
    overflow-x: hidden;
    border : solid;
    border-color: rgb(200,200,200);
    border-width : 1px;
    border-radius: 0px;	 
    cursor: pointer;
}

.xiv-thumbnail-image-mouseover {

}


.xiv-thumbnail-displaytext {
    position: absolute;
    height: 70px;
    top: 8px;
    left: 86px;
    font-size: 9;		
    font-family: Helvetica,"Helvetica neue", Arial, sans-serif; 
    white-space: nowrap;  
    color : rgb(200,200,200);  
    line-height: 17px;
	
}


.xiv-thumbnail-displaytext-mouseover {
    color : rgb(230,230,230);
}


.xiv-thumbnail-canvas {
    top: 8px;
    left: 8px;
}



/*******
* Active state
********/

.xiv-thumbnail-displaytext-active {
    color : rgb(230,230,230);
}

.xiv-thumbnail-active {
    opacity: 1;
}


.xiv-thumbnail-image-active {
    border-color : rgb(230,230,230);
}