/*
 * @author sunilk@mokacreativellc.com (Sunil Kumar)
 */


.xiv-viewplane {
    position: absolute;
    height: 50%;
    width: 50%;
    top: 0%;
    left: 0%;
    overflow: hidden;
    display: inline;
    background: #000;
    z-index: 100;
}



.xiv-xtkviewplane-indexbox {
    position: absolute;
    top: 8px;
    left: 100%;
    margin-left: -58px;
    color: rgb(255,255,255);
    font-size: 11px;
    opacity: .8;
}



.xiv-xtkviewplane-label-north, .xiv-xtkviewplane-label-south, .xiv-xtkviewplane-label-east, .xiv-xtkviewplane-label-west  {
    position: absolute;
    font-size: 8px;
    color: #fff;
    opacity: 0.5;
    text-transform: uppercase;
}



.xiv-xtkviewplane-label-north {
    left: 50%;
    top: 10%;
}



.xiv-xtkviewplane-label-south = {
    left: 50%;
    top: 85%;
}


.xiv-xtkviewplane-label-east = {
    left: 10%;
    top: 50%;
}


.xiv-xtkviewplane-label-west = {
    left: 85%;
    top: 50%;
}






.xiv-xtkviewplane-slider-widget {
    position: absolute;
    left: 5%;
    top: 90%;
    width: 90%;
    height: 30px;
    background: rgba(0,0,0,0);
}



.xiv-xtkviewplane-slider-thumb {
    position: absolute;
    top: 11px;
    width: 6px;
    height: 8px;
    background: rgb(220,220,220);
    border: 0px;
    border-radius: 4px;
}


.xiv-xtkviewplane-slider-track {
    position: absolute;
    height: 4px;
    top: 13px;
    left: 0;
    width: 100%;
    background-color: rgb(80,80,80);
    border: none;
}



.xiv-xtkviewplane-slider-track-x {
   background: rgb(255,255,0);
}


.xiv-xtkviewplane-slider-track-y {
   background: rgb(0,255,0);
}


.xiv-xtkviewplane-slider-track-z {
   background: rgb(255,0,0);
}


.xiv-xtkviewplane-slider-track-v {

}