/*
 * @author sunilk@mokacreativellc.com (Sunil Kumar)
 */



.xiv-ui-plane {
    position: absolute;
    border: solid 1px rgb(90,90,90);
  box-sizing:border-box;
  -moz-box-sizing:border-box;
  -webkit-box-sizing:border-box;
  overflow: hidden;
}

