/*
 * @author sunilk@mokacreativellc.com (Sunil Kumar)
 */



.xiv-ui-viewbox {
    top: 0px;
    left: 80px;
    width: 500px;
    height: 500px;
    position: absolute;
    overflow: hidden;
}


.xiv-ui-viewbox-hidden {
    visibility: hidden;
}


.xiv-ui-viewbox-draganddrophandle {
    position: absolute; 
    cursor: pointer;
    width: 6px;
    height: 13px;
    opacity: .4;
    z-index: 1000;
    margin-left: -10px;
}



.xiv-ui-viewbox-tabdragger {
    background-color: rgb(40,40,40);
    height: 6px;
    top: -2px;
}


.xiv-ui-viewbox-tabdragger-handle {
    position: absolute;
    top: calc(50% - 1px);
    left: calc(50% - 15px);
    width: 30px;
    height: 2px;
    background-color: rgb(80,80,80);
}



.xiv-ui-viewbox-viewlayoutmenu {
    height: 22px; 
    width: 22px;
    cursor: pointer;
    z-index: 1000002;
}




.xiv-ui-viewbox-viewframe {
    position: absolute;
    top: 0px;
    left: 22px;
    width: calc(100% - 22px);
    height: 100%;
    position: absolute;
  box-sizing:border-box;
  -moz-box-sizing:border-box;
  -webkit-box-sizing:border-box;
      border: solid 1px rgb(80,80,80);
      overflow: hidden;
}




.xiv-ui-viewbox-ziptabs {
    left: 0px;
    width: 100%;
}


.xiv-ui-viewbox-viewlayouthandler {
    height: 100%;
    width: 100%;

}


.xiv-ui-viewbox-menu-top-left{
  box-sizing:border-box;
  -moz-box-sizing:border-box;
  -webkit-box-sizing:border-box;
    position: absolute;
    display: block;
    overflow: hidden;
    width: 22px;
    border-top: solid rgba(90,90,90,1) 1px;
    border-left: solid rgba(90,90,90,1) 1px;
    border-bottom: solid rgba(90,90,90,1) 1px;
    border-top-left-radius: 4px;
    border-bottom-left-radius: 4px;
    background-color: rgb(0,0,0);
    z-index: 10000;
}