/*
 * @author sunilk@mokacreativellc.com (Sunil Kumar)
 */



.xiv-ui-viewbox {
    top: 0px;
    left: 80px;
    width: 500px;
    height: 500px;
    border: solid rgba(90,90,90,1) 1px;
    position: absolute;
    overflow: hidden;
}


.xiv-ui-viewbox-hidden {
    visibility: hidden;
}


.xiv-ui-viewbox-draganddrophandle {
    position: absolute; 
    cursor: pointer;
    width: 6px;
    height: 13px;
    opacity: .4;
    z-index: 1000;
    margin-left: -10px;
}


.xiv-ui-viewbox-dragger {
    background-color: rgb(40,40,40);
    height: 6px;
    top: -2px;
}


.xiv-ui-viewbox-dragger-handle {
    position: absolute;
    top: calc(50% - 1px);
    left: calc(50% - 15px);
    width: 30px;
    height: 2px;
    background-color: rgb(80,80,80);
    
}