

.sliceSlider .goog-slider-thumb {
	position: absolute;
    margin-top: -3px;
	width: 6px;
	height: 9px;
	background: #888;
    border: 0px;
    border-radius: 4px;
}


.xiv-ui-xtkcontrollermenu .goog-slider-thumb,
.xiv-ui-xtkcontrollermenu .goog-twothumbslider-value-thumb,
.xiv-ui-xtkcontrollermenu .goog-twothumbslider-extent-thumb {
    position: absolute;
    margin-top: -2px;
	width: 4px;
	height: 6px;
	background: #eee;
    border: 1px solid #333;
    border-radius: 4px;
}

.xiv-ui-xtkcontrollermenu .goog-slider-disabled,
.xiv-ui-xtkcontrollermenu .goog-twothumbslider-disabled {
    opacity: 0.5;
}




/*
 * Standard styling for the scroll gallery
 *
 * @author sunilk@mokacreativellc.com (Sunil Kumar)
 */



.xiv-ui-xtkcontrollermenu-scrollgallery {
    top: 25px;
    left: 0px;
    width: 100%;
    height: 90%;
    position: absolute;
    overflow: hidden;
    overflow-x: hidden;
    overflow-y: hidden;
}


.xiv-ui-xtkcontrollermenu-scrollgallery-scrollarea {
    position: relative;
    width: 166px;
    left: 14px;
}


.xiv-ui-xtkcontrollermenu-scrollgallery-zippyheader {

    position: relative;
    background-color: rgb(70,70,70);
    left: 0px;
    height: 1.5em;
    color: rgb(0,0,0);
    font-size: 12px;
    font-family:  Helvetica,"Helvetica neue", Arial, sans-serif;
    cursor: pointer;
    
}


.xiv-ui-xtkcontrollermenu-scrollgallery-slider-widget {
    width: 7;
    background-color: rgb(0,0,0);
    border: none;
}



.xiv-ui-xtkcontrollermenu-scrollgallery-slider-thumb {
    height: 60px;
    background-color: rgb(120,120,120);
    border: none;
}