/*
 * @author sunilk@mokacreativellc.com (Sunil Kumar)
 */


.nrg-ui-hoverinput {
    position: absolute;
    top: 3px;
    width: 100px;
    height: 17px;
    left: calc(100% - 110px);
    background-color: rgba(0,0,0,0);
    transition-property: background-color;
    transition-duration: .2s;
}


.nrg-ui-hoverinput-display,
.nrg-ui-hoverinput-inputbox {
    position: absolute;
    left: 0px;
    top: 0px;
    color: rgb(255,255,255);
    font-size: 12px;
    line-height: 17px;
    font-family:  Helvetica,"Helvetica neue", Arial, sans-serif;
    white-space: nowrap;
}



.nrg-ui-hoverinput-display {
    color: rgb(255,255,255);
    text-align: right;
    text-wrap: none;
}



.nrg-ui-hoverinput-inputbox {
    opacity: 0;
    width: 100%;
    height: 18px;
    left: 0px;
    background-color: rgb(0,0,0);
    border: none;
    /*border-bottom: solid 1px rgb(95,95,95);*/
    outline: 0;
    color: rgb(255,255,255);
    z-index: 3;
    transition-property: opacity;
    transition-duration: .2s;
    text-align: right;
}



.nrg-ui-hoverinput:hover {
    background-color: rgba(0,0,1,0);
}

.nrg-ui-hoverinput:hover > .nrg-ui-hoverinput-inputbox {
    opacity: 1;
}