/*
 * @author sunilk@mokacreativellc.com (Sunil Kumar)
 */


.nrg-ui-hoverinput {
    position: absolute;
    top: 3px;
    width: 100px;
    height: 17px;
    left: calc(100% - 110px);
}


.nrg-ui-hoverinput-listen-element,
.nrg-ui-hoverinput-display,
.nrg-ui-hoverinput-inputbox {
    position: absolute;
    left: 0px;
    top: 0px;
    color: rgb(255,255,255);
    font-size: 12px;
    line-height: 17px;
    font-family:  Helvetica,"Helvetica neue", Arial, sans-serif;
    white-space: nowrap;
}


.nrg-ui-hoverinput-listen-element {
    z-index: 3;
}


.nrg-ui-hoverinput-display {
    color: rgb(255,255,255);
    text-align: right;
    text-wrap: none;
}



.nrg-ui-hoverinput-inputbox {
    opacity: 0;
    width: 56px;
    height: 18px;
    left: calc(100% - 56px);
    background-color: rgb(0,0,0);
    border: solid 1px rgb(95,95,95);
    outline: 0;
    color: rgb(255,255,255);
    z-index: 3;
}