/*
 * @author kumar.sunil.p@gmail.com (Sunil Kumar)
 */



.nrg-ui-thumbnail {
    position: absolute;
    width: 87px;
    height: 87px;
    top: 0px;
    left: 0px;
    cursor: pointer;
    background-color: rgb(0,0,0);
    transition-duration: .2s;
    transition-property: background-color, color;
}


.nrg-ui-thumbnail-selectindicator {
    position: absolute;
    top: calc(50% - 26px);
    left: 0px;
    width: 2px;
    height: 50px;
    opacity: 0;
    border-radus: 3px;
    background-color: rgb(100,100,100);
    transition-duration: .2s;
    transition-property: border-color;
}


.nrg-ui-thumbnail-selectindicator-active {
    opacity: 1;
}



.nrg-ui-thumbnail-selected {
    border: solid 1px rgb(100,100,100);
    -moz-box-sizing: border-box;
    -webkit-box-sizing: border-box;
    -ms-box-sizing: border-box;
    box-sizing: border-box;

}

.nrg-ui-thumbnail:hover {
    background-color: rgba(30,30,30, 1);
    opacity: 1;
    z-index: 10000;
    overflow: visible;
    color: rgb(255,255,255);
}


.nrg-ui-thumbnail:hover > .nrg-ui-thumbnail-image {
    /*color: rgb(255,255,255);*/
    /*border-color: white;*/
}

.nrg-ui-thumbnail:hover > .nrg-ui-thumbnail-text {
    color: rgb(215,215,215);
}

.nrg-ui-thumbnail-image, .nrg-ui-thumbnail-canvas {
    position: absolute;
    width: 70px;
    height: 70px;
    top: 8px;
    left: 20px;	
    overflow-y: hidden;
    overflow-x: hidden;
    border: solid 1px rgb(30,30,30);
    /*border : none;
    border-color: rgb(100,100,100);
    border-width : 1px;
    border-radius: 0px;	
    box-sizing: border-box; */
    cursor: pointer;
    transition-duration: .2s;
    transition-property: border-color;
}

.nrg-ui-thumbnail-image-mouseover {
    /*border: solid 1px white;*/
}


.nrg-ui-thumbnail-text {
    position: absolute;
    height: 70px;
    top: 17px;
    left: 106px;
    font-size: 9;		
    font-family: Helvetica,"Helvetica neue", Arial, sans-serif; 
    white-space: nowrap;  
    color : rgb(80,80,80);  
    line-height: 17px;
    transition-duration: .2s;
    transition-property:  color;
}


.nrg-ui-thumbnail-text-mouseover {
    color : rgb(155,155,155);
}


.nrg-ui-thumbnail-canvas {
    top: 8px;
    left: 8px;
}



/*******
* Active state
********/

.nrg-ui-thumbnail-text-active {
    color : rgb(100,100,100);
}

.nrg-ui-thumbnail-active {
    opacity: 1;
}


.nrg-ui-thumbnail-image-active {
    /*border-color : rgb(100,100,100);*/
}