/**
 * @author kumar.sunil.p@gmail.com (Sunil Kumar)
 */



.nrg-ui-ziptabs {
    position: absolute;
}


.nrg-ui-ziptabs:hover {
    opacity: 1;
}



.nrg-ui-ziptabs-top, .nrg-ui-ziptabs-bottom {
    height: 18px;
}


.nrg-ui-ziptabs-left, .nrg-ui-ziptabs-right {
    width: 18px;
    opacity: .7;
    transition-duration: .2s;
    transition-property: opacity;
}



.nrg-ui-ziptabs-right:hover {
    opacity: 1;
}
