/*
 * @author sunilk@mokacreativellc.com (Sunil Kumar)
 */



.xiv-ui-layouts-conventional {
    position: absolute;
    width: 100%;
    height: 100%;
}


.xiv-ui-layouts-conventional-x,  .xiv-ui-layouts-conventional-y, 
.xiv-ui-layouts-conventional-z, .xiv-ui-layouts-conventional-v {
    position: absolute;
}


.xiv-ui-layouts-conventional-v {
    top: 0px;
    left: 0px;
    width: 100%;
    height: 65%; 
}



.xiv-ui-layouts-conventional-x,  .xiv-ui-layouts-conventional-y, 
.xiv-ui-layouts-conventional-z {
    top: 65%;
    height: 35%;
    width: 33.33%;
}


.xiv-ui-layouts-conventional-x {
    left: 0px;
}


.xiv-ui-layouts-conventional-y {
    left: 33.33%; 
}


.xiv-ui-layouts-conventional-z {
    left: 66.66%; 
}


