/*
 * @author sunilk@mokacreativellc.com (Sunil Kumar)
 */



.xiv-ui-layouts-xyzvlayout {
    position: absolute;
}


.xiv-ui-layouts-xyzvlayout-x,  .xiv-ui-layouts-xyzvlayout-y, 
.xiv-ui-layouts-xyzvlayout-z, .xiv-ui-layouts-xyzvlayout-v {
    position: absolute;
  box-sizing:border-box;
  -moz-box-sizing:border-box;
  -webkit-box-sizing:border-box;
}




.xiv-ui-layouts-xyzvlayout-slider {
    position: absolute;
    left: 2.5%;
    top: calc(100% - 15px);
    width: 95%;
    height: 10px;
}





.xiv-ui-layouts-xyzvlayout-slider-track {
    position: absolute;
    height: 4px;
    top: calc(50% - 2px);
    left: 0px;
    border-radius: 2px;
    width: 100%;
    background-color: rgb(80,80,80);
}



.xiv-ui-layouts-xyzvlayout-slider-track-x {
   background: rgba(255,0,0, .5);
}



.xiv-ui-layouts-xyzvlayout-slider-track-y {
   background: rgba(0,255,0, .5);
}



.xiv-ui-layouts-xyzvlayout-slider-track-z {
   background: rgba(0,0,255, .5);
}

.xiv-ui-layouts-xyzvlayout-slider-thumb {
    position: absolute;
    top: calc(50% - 4px);
    width: 8px;
    height: 8px;
    background: rgb(220,220,220);
    border: 0px;
    border-radius: 0px;
}

.xiv-ui-layouts-xyzvlayout-slider-thumb-hovered {
    box-shadow: 0px 0px 0px 3px rgba(255, 255, 255, .55);
}