/*
 * @author sunilk@mokacreativellc.com (Sunil Kumar)
 */



.xiv-ui-layouts-conventional {
    position: absolute;
    width: 100%;
    height: 100%;
}


.xiv-ui-layouts-conventional-x,  .xiv-ui-layouts-conventional-y,
.xiv-ui-layouts-conventional-z, .xiv-ui-layouts-conventional-v {
    position: absolute;
}


.xiv-ui-layouts-conventional-v {
    top: 0px;
    left: 0px;
    width: 100%;
    height: 65%;
    z-index: 4;
    border-left: none;
    border-top: none;
    border-right: none;
    border-bottom: solid 1px rgb(50,50,50);
}



.xiv-ui-layouts-conventional-x,  .xiv-ui-layouts-conventional-y,
.xiv-ui-layouts-conventional-z {
    top: 65%;
    height: 35%;
    width: 33.33%;
}


.xiv-ui-layouts-conventional-x {
    left: 33.33%;
    /*border-left: solid 1px rgb(50,50,50);*/
}


.xiv-ui-layouts-conventional-y {
    left: 66.66%;
    border-left: solid 1px rgb(50,50,50);
}


.xiv-ui-layouts-conventional-z {
    left: 0px;
    border-right: solid 1px rgb(50,50,50);
}



.xiv-ui-layouts-conventional-x-resizeboundary,
.xiv-ui-layouts-conventional-y-resizeboundary,
.xiv-ui-layouts-conventional-z-resizeboundary,
.xiv-ui-layouts-conventional-v-resizeboundary {
    position : absolute;
    z-index: -1;
}


.xiv-ui-layouts-conventional-x-resizeboundary {
    /**
    background-color: purple;
    opacity: .5;
    z-index: 20;
    */
}



