/*
 * @author sunilk@mokacreativellc.com (Sunil Kumar)
 */



.xiv-ui-layouts-interactors-crosshairs-vertical, 
.xiv-ui-layouts-interactors-crosshairs-horizontal {
    position: absolute;
    background-color: rgba(125,125,125, 1);
}



.xiv-ui-layouts-interactors-crosshairs-vertical {
    width: 1px;
    height: 100%;
    top: 0px;
    left: 50%;
}


.xiv-ui-layouts-interactors-crosshairs-horizontal {
    width: 100%;
    height: 1px;
    top: 50%;
    left: 0px;
}

