/*
 * @author sunilk@mokacreativellc.com (Sunil Kumar)
 */


.xiv-ui-layouts-interactors-framedisplay {
    position: absolute;
    top: 3px;
    left: calc(100% - 50px);
    color: rgb(255,255,255);
    font-size: 10px;
    font-family:  Helvetica,"Helvetica neue", Arial, sans-serif;
}

.xiv-ui-layouts-interactors-framedisplay-display {
    position: absolute;
    left: 0px;
    top: 0px;
    width: 100%;
    height: 100%;
    color: rgb(255,255,255);
    font-size: 10px;
    font-family:  Helvetica,"Helvetica neue", Arial, sans-serif;
    text-align: right;
}



.xiv-ui-layouts-interactors-framedisplay-inputbox {
    visibility: hidden;
}


.xiv-ui-layouts-interactors-framedisplay-inputbox-hovered {
    visibility: visible;
    position: absolute;
    left: -34px;
    top: -3px;
    width: 100%;
    height: 100%;
    background-color: rgb(0,0,0);
    border: solid 1px rgb(95,95,95);

    color: rgb(255,255,255);
    font-size: 10px;
    font-family:  Helvetica,"Helvetica neue", Arial, sans-serif;
    
    padding: 1px;
}