/*
 * @author kumar.sunil.p@gmail.com (Sunil Kumar)
 */


.xiv-ui-framedisplay {
    position: absolute;
    top: 6px;
    height: 20px;
    width: 80px;
    left: calc(100% - 90px);
    text-wrap: none;
}


.xiv-ui-framedisplay-text {
    font-size: 10px;
}
