/*
 * @author sunilk@mokacreativellc.com (Sunil Kumar)
 */


.xiv-ui-layouts-interactors-framedisplay {
    position: absolute;
    top: 10px;
    height: 20px;
    width: 200px;
    left: calc(100% - 210px);
    text-align: right;
    text-wrap: none;
}
