/*
 * @author sunilk@mokacreativellc.com (Sunil Kumar)
 */

.xiv-ui-ctrl-histogram  {
    position: absolute;
    width: 90px;
    height: 70px;
    z-index: 5000;
}

.xiv-ui-ctrl-histogram-canvas,
.xiv-ui-ctrl-histogram-linecanvas {
    position: absolute;
    width: calc(100% - 2px);
    height: 60px;
    border-top: solid 1px rgb(120,120,120);
    border-left: solid 1px rgb(120,120,120);
    border-right: solid 1px rgb(120,120,120);
    border-bottom: solid 1px rgb(120,120,120);
    top: 0px;
}


.xiv-ui-ctrl-histogram-canvas {
    background-color: white;
}


.xiv-ui-ctrl-histogram-max,
.xiv-ui-ctrl-histogram-min {
    position: absolute;
    height: 14px;
    width: 50px;
    top: calc(100% - 10px);
    font-family:  Helvetica,"Helvetica neue", Arial, sans-serif;
    font-size: 10px;
    color: white;
}



.xiv-ui-ctrl-histogram-max {
    width: 100%;
    text-align: right;
}


.xiv-ui-ctrl-histogram-min {
    left: 0px;
    text-align: left;
}

