/*
 * @author sunilk@mokacreativellc.com (Sunil Kumar)
 */

.xiv-ui-histogram  {
    position: absolute;
    height: 120px;
    z-index: 5000;
    top: -5px;
}

.xiv-ui-histogram-canvas,
.xiv-ui-histogram-linecanvas {
    position: absolute;
    left: calc(10% - 1px);
    width: calc(80% - 2px);
    height: 85px;
    border-top: solid 1px rgb(120,120,120);
    border-left: solid 1px rgb(120,120,120);
    border-right: solid 1px rgb(120,120,120);
    border-bottom: solid 1px rgb(120,120,120);
    top: 20px;
}


.xiv-ui-histogram-canvas {
    background-color: white;
}



.xiv-ui-histogram-clipmax,
.xiv-ui-histogram-clipmin,
.xiv-ui-histogram-max,
.xiv-ui-histogram-min {
    position: absolute;
    height: 14px;
    font-family:  Helvetica,"Helvetica neue", Arial, sans-serif;
    font-size: 10px;
    color: white;
    white-space: nowrap;
}


.xiv-ui-histogram-clipmax,
.xiv-ui-histogram-clipmin {
    top: 7px;
}



.xiv-ui-histogram-max,
.xiv-ui-histogram-min {
    top: calc(100% - 12px);
}


.xiv-ui-histogram-max {
    width: 100%;
    text-align: right;
}


.xiv-ui-histogram-min {
    left: 0px;
    text-align: left;
}

