/*
 * @author sunilk@mokacreativellc.com (Sunil Kumar)
 */



.xiv-ui-layouts-layouthandler {
    position: absolute;
    background: black;
}


.xiv-ui-layouts-hoverframe {

}


.xiv-ui-layouts-hoverframe:hover > .xiv-ui-layouts-fadeableinteractor {
    opacity: 1;
}


.xiv-ui-layouts-fadeableinteractor {
    opacity: 0;
    transition-property: opacity;
    transition-duration: .25s;
    transition-timing-function: ease-out
}

