/*
 * @author sunilk@mokacreativellc.com (Sunil Kumar)
 */



.xiv-ui-ctrl-levelscontroller {
    position: absolute;
    width: 100%;
    height: 100%;
}



.xiv-ui-ctrl-levelscontroller-sliderlabel,
.xiv-ui-ctrl-levelscontroller-twothumbsliderlabel {
    position: absolute;
    font-size: 12px;
    top: 6px;
}


.xiv-ui-ctrl-levelscontroller-twothumbsliderlabel {
    margin-left: auto;
    margin-right: auto;
    width: 100%;
    text-align: center;
    font-size: 10px;
    top: 0px;
}

.xiv-ui-ctrl-levelscontroller-slidercontroller, 
.xiv-ui-ctrl-levelscontroller-twothumbslidercontroller {
    height: 40px;
}


.xiv-ui-ctrl-levelscontroller-slidercontroller {
    width: 80%;
}

.xiv-ui-ctrl-levelscontroller-twothumbslidercontroller {
    height: 45px;
}



.xiv-ui-ctrl-levelscontroller-slider, 
.xiv-ui-ctrl-levelscontroller-twothumbslider{
    left: 0px;
    top: 28px;
    width: 167px;
}


.xiv-ui-ctrl-levelscontroller-twothumbslider {
    top: 24px;
}


.xiv-ui-ctrl-levelscontroller-slidervalue {
    left: calc(100% - 52px);
    width: 50px;
    top: 4px;
}


.xiv-ui-ctrl-levelscontroller-twothumbslidervalue,
.xiv-ui-ctrl-levelscontroller-twothumbsliderextent {
    left: 16px;
    top: 32px;
}

.xiv-ui-ctrl-levelscontroller-twothumbsliderextent {
    left: calc(100% - 68px);
}




.xiv-ui-ctrl-levelscontroller-checkbox {
    top: 28px;
    width: 115px;
}

.xiv-ui-ctrl-levelscontroller-checkboxholder {
    top: 0px;
    width: 10px;
    outline: none;
    left: calc(100% - 15px);
}


.xiv-ui-ctrl-levelscontroller-checkboxcontroller {
    height: 15px;
    outline: none;
}