/*
 * @author sunilk@mokacreativellc.com (Sunil Kumar)
 */



.xiv-ui-levelscontroller {
    position: absolute;
    width: 100%;
    height: 100%;
}



.xiv-ui-levelscontroller-sliderlabel,
.xiv-ui-levelscontroller-twothumbsliderlabel {
    position: absolute;
    font-size: 12px;
    top: 6px;
}


.xiv-ui-levelscontroller-twothumbsliderlabel {
    left: 10px;
    font-size: 10px;
    top: 0px;
}

.xiv-ui-levelscontroller-slidercontroller, 
.xiv-ui-levelscontroller-twothumbslidercontroller {
    height: 40px;
}


.xiv-ui-levelscontroller-slidercontroller {
    width: 80%;
}

.xiv-ui-levelscontroller-twothumbslidercontroller {
    height: 45px;
    width: 90%;
}



.xiv-ui-levelscontroller-slider{
    left: 0%;
    top: 28px;
    width: 95%;
}


.xiv-ui-levelscontroller-twothumbslider {
    left: 7%;
    top: 24px;
    width: 100%;
}


.xiv-ui-levelscontroller-slidervalue {
    left: calc(100% - 52px);
    width: 50px;
    top: 4px;
}


.xiv-ui-levelscontroller-twothumbslidervalue,
.xiv-ui-levelscontroller-twothumbsliderextent {
    left: 10px;
    top: 32px;
}

.xiv-ui-levelscontroller-twothumbsliderextent {
    left: calc(100% - 37px);
}




.xiv-ui-levelscontroller-checkbox {
    top: 28px;
    width: 110px;
}

.xiv-ui-levelscontroller-checkboxholder {
    top: 0px;
    width: 10px;
    outline: none;
    left: calc(100% - 15px);
}


.xiv-ui-levelscontroller-checkboxcontroller {
    height: 15px;
    outline: none;
}