.xiv-ui-ctrl-masteropacity {
    
}




.xiv-ui-ctrl-masteropacity-slider {
    position: absolute;
    left: calc(100% - 115px);
    width: 65px;
}



.xiv-ui-ctrl-masteropacity-slider-track {
    height: 4px;
    top: calc(50% - 4px);
    border-radius: 3px;
    background-color: rgba(255,255,255,1);
    border: solid 1px rgba(100,100,100,1);
}



.xiv-ui-ctrl-masteropacity-slider-thumb {
    height: 10px;
    width: 5px;
    border-radius: 3px;
}

.xiv-ui-ctrl-masteropacity-slider-thumb-hover {
    box-sizing: content-box;
    box-shadow: 0px 0px 0px 3px rgba(255, 255, 255, .55);
}


.xiv-ui-ctrl-masteropacity-slider-track-hover {
    box-sizing: content-box;
}


.xiv-ui-ctrl-masteropacity-value-input {
    position: absolute;
    top: 0px;
    border: solid 1px rgb(100,100,100);
    width: 20px;
    left: calc(100% - 30px);
    font-size: 10px;
    background-color: rgba(0,0,0,0);
    color: white;
    font-family:  Helvetica,"Helvetica neue", Arial, sans-serif;
}