/*
 * Standard styling for the Modal
 *
 * @author sunilk@mokacreativellc.com (Sunil Kumar)
 */




.xiv-modal {
    position: fixed;
    background-color: rgba(0,0,0,1);
    border: none;
    border-radius: 20px;
    top: 10%;
    left: 10%;
    height: 80%;
    width: 80%;
    overflow-x: hidden;
    overflow-y: hidden;
    z-index: 2;
}




.xiv-modal-background {
    position: fixed;
    top: 0px;
    left: 0px;
    height: 100%;
    width: 100%;
    z-index: -1;
    background-color: rgba(0,0,0,.5);
    display: inline-block;
    font-family: Helvetica,"Helvetica neue", Arial, sans-serif
}


.xiv-modal-background-black {
    background-color: rgba(0,0,0,1);
    color: rgba(0,0,0,1);
}


.xiv-modal-close-button {
    position: absolute; 
    cursor: pointer;
    top: 10px;
    left: 100%;
    margin-left: -20px;
    width: 10px;
    height: 10px;
    z-index: 103;
}


.xiv-modal-full-screen-button, .xiv-modal-windowed-button {
    position: absolute; 
    cursor: pointer;
    top: 29px;
    left: 100%;
    margin-left: -20px;
    width: 11px;
    height: 11px;
    z-index: 1000;
}



.xiv-modal-popup-button {
    position: absolute; 
    cursor: pointer;
    top: 50px;
    left: 100%;
    margin-left: -21px;
    width: 12px;
    height: 12px;
    z-index: 1000;
}


.xiv-modal-add-xnat-folders-button {
    position: absolute; 
    cursor: pointer;
    top: 30px;
    left: 13px;
    width: 167px;
    height: 20px;
    z-index: 1000;
    color: white;
    background-color: rgb(60,60,60);
    text-align: center;
    vertical-align: middle;
    line-height: 20px;  
}


.xiv-modal-scroll-gallery {
    position: absolute;
    left: 0px;
    width: 180px;
}




.xiv-modal-insert-column-button, .xiv-modal-remove-column-button,
.xiv-modal-insert-row-button, .xiv-modal-remove-row-button {
    position: absolute;
    cursor: pointer; 
    z-index: 2;
}



.xiv-modal-insert-column-button, .xiv-modal-remove-column-button {
    left: 100%;
    top: 50%;
    margin-left: -19px;
    width: 6px;
    height: 12px;    
}


.xiv-modal-insert-column-button {
    margin-top: -10px;    
}


.xiv-modal-remove-column-button {
    margin-top: 10px;
}








.xiv-modal-insert-row-button, .xiv-modal-remove-row-button {
    top: 100%;
    left: 50%;
    margin-top: -19px;
    width: 12px;
    height: 6px;    
}



.xiv-modal-insert-row-button {
    margin-left: -10px;    
}


.xiv-modal-remove-row-button {
    margin-left: 10px;
}
