/*
 * Standard styling for the Modal
 *
 * @author sunilk@mokacreativellc.com (Sunil Kumar)
 */




.xiv-ui-modal {
    position: fixed;
    background-color: rgba(0,0,0,1);
    border: none;
    border-radius: 20px;
    top: 0%;
    left: 0%;
    height: 100%;
    width: 100%;
    z-index: 2;
}




.xiv-ui-modal-background {
    position: fixed;
    top: 0px;
    left: 0px;
    height: 100%;
    width: 100%;
    z-index: -1;
    background-color: rgba(0,0,0,.5);
    display: inline-block;
    font-family: Helvetica,"Helvetica neue", Arial, sans-serif
}


.xiv-ui-modal-background-black {
    background-color: rgba(0,0,0,1);
    color: rgba(0,0,0,1);
}


.xiv-ui-modal-close-button {
    position: absolute; 
    cursor: pointer;
    top: 10px;
    left: 100%;
    margin-left: -20px;
    width: 10px;
    height: 10px;
    z-index: 103;
    content:url('/xnat/images/viewer/xiv/ui/Modal/close.png');
}


.xiv-ui-modal-fullscreen-button, .xiv-ui-modal-windowed-button {
    position: absolute; 
    cursor: pointer;
    top: 29px;
    left: 100%;
    margin-left: -20px;
    width: 11px;
    height: 11px;
    z-index: 1000;
}


.xiv-ui-modal-windowed-button {
    content:url('/xnat/images/viewer/xiv/ui/Modal/windowed.png');
}


.xiv-ui-modal-fullscreen-button {
 
    content:url('/xnat/images/viewer/xiv/ui/Modal/fullscreen.png');
}

.xiv-ui-modal-popup-button {
    position: absolute; 
    cursor: pointer;
    top: 50px;
    left: 100%;
    margin-left: -21px;
    width: 12px;
    height: 12px;
    z-index: 1000;
    content:url('/xnat/images/viewer/xiv/ui/Modal/popup.png');
}




.xiv-ui-modal-insertcolumn-button, .xiv-ui-modal-removecolumn-button,
.xiv-ui-modal-insertrow-button, .xiv-ui-modal-removerow-button {
    position: absolute;
    cursor: pointer; 
    z-index: 2;
}



.xiv-ui-modal-insertcolumn-button, .xiv-ui-modal-removecolumn-button {
    left: 100%;
    top: 50%;
    margin-left: -19px;
    width: 6px;
    height: 12px;    
}


.xiv-ui-modal-insertcolumn-button {
    margin-top: -10px;  
    content:url('/xnat/images/viewer/xiv/ui/Modal/insertcolumn.png');  
}


.xiv-ui-modal-removecolumn-button {
    margin-top: 10px;
    content:url('/xnat/images/viewer/xiv/ui/Modal/removecolumn.png');
}




.xiv-ui-modal-insertrow-button, .xiv-ui-modal-removerow-button {
    top: 100%;
    left: 50%;
    margin-top: -19px;
    width: 12px;
    height: 6px;    
}



.xiv-ui-modal-insertrow-button {
    margin-left: -10px; 
    content:url('/xnat/images/viewer/xiv/ui/Modal/insertrow.png');   
}


.xiv-ui-modal-removerow-button {
    margin-left: 10px;
    content:url('/xnat/images/viewer/xiv/ui/Modal/removerow.png');
}


.xiv-ui-modal-gallery-tabs {
    left: 0px;
    width: 20px;
    height: calc(100% - 50px);
    top: 25px;
}



.xiv-ui-modal-gallery-tabdragger {
    width: 20px;
    background-color: rgba(255,0,0,.5);
    
}