/*
 * @author kumar.sunil.p@gmail.com (Sunil Kumar)
 */


.xiv-ui-playbutton {
    position: absolute;
    top: calc(100% - 15px);
    left: 9px;
    height: 9px;
    width: 9px;
    cursor: pointer;
}



.xiv-ui-playbutton-image {
    height: 9px;
    width: 9px;
    opacity: .6;
}