/*
 * @author sunilk@mokacreativellc.com (Sunil Kumar)
 */

.xiv-ui-progressbarpanel  {
    position: absolute;
    height: 100%; 
    width: 100%;
    background-color: rgb(0, 0, 0);
    text-align: middle;
    z-index: 2;
}

.xiv-ui-progressbarpanel-thumb  {
    position: absolute;
    height: 100%;
    top: 0px;
    background-color: rgb(100, 149, 237);
    border-radius: 1px;
}

.xiv-ui-progressbarpanel-progbarholder  {
    position: absolute;
    height: 2px; 
    width: 95%;
    top: calc(50% - 1px);
    background-color: rgba(30,30,30,1);
    border-radius: 1px;
    border: none;
    left: 2.5%;
    overflow: visible;
}


.xiv-ui-progressbarpanel-progressbar  {
    background: rgba(100,149,237, 1);
    height: 2px;
    top: 0px;
}


.xiv-ui-progressbarpanel-labelholder  {
    position: absolute;
    height: 15px; 
    top: calc(50% - 15px);
    left: 2.5%;
    color: rgba(255,255,255, 1);
    font-family:  Helvetica,"Helvetica neue", Arial, sans-serif;
    font-size: 10px;
    visibility: hidden;
}



@-webkit-keyframes endNode {
  from { 
      background-color: rgba(255,255,255, .9);
      box-shadow: 0px 0px 2px 1px rgba(255,255,255, .05);
  }
/*
  50% { 
      background-color: rgba(255,255,255, 1);
      box-shadow: 0px 0px 2px 3px rgba(255,255,255, .8);
  }
*/
  to { 
      background-color: rgba(255,255,255, 1);
      box-shadow: 0px 0px 2px 3px rgba(255,255,255, .8);
  }
}


.xiv-ui-progressbarpanel-endnode {
    position: absolute;
    top: 0px;
    left: calc(100% - 4px);
    height: 2px; 
    width: 4px;
    border-radius: 2px;
    z-index: 2;
    background-color: rgba(255,255,255, .9);
    box-shadow: 0px 0px 2px 1px rgba(255,255,255, .05);
}


.xiv-ui-progressbarpanel-endnode-glow {
    -webkit-animation-fill-mode: forwards;
    -webkit-animation-name: endNode;
    -webkit-animation-duration: .5s;
    -webkit-animation-iteration-count: 1;
    animation-fill-mode: forwards;
    animation-name: endNode;
    animation-duration: .5s;
    animation-iteration-count: 1;
}

