/*
 * @author sunilk@mokacreativellc.com (Sunil Kumar)
 */

.xiv-ui-progressbarpanel  {
    position: absolute;
    height: 100%; 
    width: 100%;
    background-color: rgb(0, 0, 0);
    text-align: middle;
    z-index: 2;
}

.xiv-ui-progressbarpanel-thumb  {
    position: absolute;
    height: 100%;
    top: 0%;
    background-color: rgb(100, 149, 237);
    border-radius: 1px;
}

.xiv-ui-progressbarpanel-progbarholder  {
    position: absolute;
    height: 2px; 
    width: 95%;
    top: calc(50% - 1.5px);
    /*background-color: rgba(50,50,50,1);*/
    border-radius: 1px;
    border: none;
    left: 2.5%;
    overflow: visible;
}


.xiv-ui-progressbarpanel-progressbar  {
    background: rgba(100,149,237, 1);
    height: 1px;
    top: .5px;
}


.xiv-ui-progressbarpanel-labelholder  {
    position: absolute;
    height: 15px; 
    width: 100%;
    top: calc(50% - 25px);
    text-align: center;
    color: rgba(255,255,255, 1);
    font-family:  Helvetica,"Helvetica neue", Arial, sans-serif;
    font-size: 12px;
}



@-webkit-keyframes endNode {
  from { 
      background-color: rgba(255,255,255, .9);
      box-shadow: 0px 0px 2px 1px rgba(255,255,255, .05);
  }
  50% { 
      background-color: rgba(255,255,255, 1);
      box-shadow: 0px 0px 2px 3px rgba(255,255,255, .8);
  }
  to { 
      background-color: rgba(255,255,255, .91); 
      box-shadow: 0px 0px 2px 1px rgba(255,255,255, .05);
  }
}


.xiv-ui-progressbarpanel-endnode {
    position: absolute;
    top: 1px;
    height: 1px; 
    width: 4px;
    border-radius: 2px;
    z-index: 2;
    background-color: rgba(255,255,255, 1);
    -webkit-animation-name: endNode;
    -webkit-animation-duration: 2.2s;
    -webkit-animation-iteration-count: infinite;
}



@-webkit-keyframes glowNode {
  from { 
      opacity: 0;
  }
  50% { 
      opacity: 0;
  }
  to { 
      opacity: 0;
  }
}

.xiv-ui-progressbarpanel-glownode {
    position: absolute;
    top: -2px;
    left: -2px;
    height: 5px; 
    width: 8px;
    border-radius: 4px;
    background-color: rgba(255,255,255, 1);
    -webkit-animation-name: glowNode;
    -webkit-animation-duration: 2.2s;
    -webkit-animation-iteration-count: infinite;
}





