/*
 * Standard styling for the scroll gallery
 *
 * @author sunilk@mokacreativellc.com (Sunil Kumar)
 */



.xiv-thumbnail {
    position: absolute;
}

.xiv-thumbnail-dragging {
    position: absolute;
    width: 87px;
    height: 87px;
    top: 0px;
    left: 0px;
    cursor: pointer;
    background-color: rgb(0,0,0);
    opacity: .7;
    z-Index: 100000;
    opacity: .85;
    width: 150px;
    background-color: rgba(0,0,0,0);

}