/*
 * @author sunilk@mokacreativellc.com (Sunil Kumar)
 */



.xiv-ui-viewbox {
    top: 0px;
    left: 80px;
    width: 500px;
    height: 500px;
    position: absolute;
    overflow: hidden;
    z-index: 10;
}


.xiv-ui-viewbox-hidden {
    visibility: hidden;
}


.xiv-ui-viewbox-draganddrophandle {
    position: absolute; 
    cursor: pointer;
    width: 6px;
    height: 13px;
    opacity: .4;
    z-index: 1000;
    margin-left: -10px;
}



.xiv-ui-viewbox-tabdragger {
    background-color: rgb(40,40,40);
    height: 10px;
}


.xiv-ui-viewbox-tabdragger-handle {
    position: absolute;
    top: calc(50% - 1.5px);
    left: calc(50% - 15px);
    width: 30px;
    height: 3px;
    background-color: rgb(80,80,80);
}



.xiv-ui-viewbox-viewlayoutmenu {
    height: 22px; 
    width: 22px;
    cursor: pointer;
    z-index: 1000002;
}




.xiv-ui-viewbox-viewframe {
    position: absolute;
    top: 0px;
    left: 22px;
    width: calc(100% - 22px);
    height: 100%;
    position: absolute;
  box-sizing:border-box;
  -moz-box-sizing:border-box;
  -webkit-box-sizing:border-box;
      border: solid 1px rgb(80,80,80);
      overflow: hidden;
}




.xiv-ui-viewbox-ziptabs {
    left: 0px;
    width: 100%;
}


.xiv-ui-viewbox-ziptab-bounds {
    position: absolute;
    left: 0px;
    top: 300px;
    height: calc(100% - 300px);
    width: 100%;
    background-color: rgba(255,0,0,0);
}


.xiv-ui-viewbox-viewlayouthandler {
    height: 100%;
    width: 100%;
}


.xiv-ui-viewbox-viewablegroupmenu {
    z-index: 100;
}


.xiv-ui-viewbox-menu-left, 
.xiv-ui-viewbox-menu-top-left {
  box-sizing:border-box;
  -moz-box-sizing:border-box;
  -webkit-box-sizing:border-box;
    position: absolute;
    display: block;
    overflow: hidden;
    width: 22px;
    border-top: solid rgba(90,90,90,1) 1px;
    border-left: solid rgba(90,90,90,1) 1px;
    border-bottom: solid rgba(90,90,90,1) 1px;
    border-top-left-radius: 4px;
    border-bottom-left-radius: 4px;
    background-color: rgb(0,0,0);
    z-index: 10000;

}


.xiv-ui-viewbox-menu-left {
    top: calc(50% - 57px);
}



.xiv-ui-viewbox-button-threedtoggle {
    width: 15px;
    height: 15px;
    opacity: .5;
}


.xiv-ui-viewbox-button-threedtoggle-on {
    opacity: 1;
    background-color: black;
}

.xiv-ui-viewbox-button-infotoggle {
    width: 15px;
    height: 15px;
    opacity: .5;
    background-color: black;
}


.xiv-ui-viewbox-button-infotoggle-on {
    opacity: 1;
    background-color: black;
}


.xiv-ui-viewbox-infooverlay {
    position: absolute;
    background-color: rgba(0,0,0,0);
    font-size: 8px;
    color: white;
    text-align: right;
    top: 0px;
    left: 0px;
    height: 0px;
    padding: 5px;
    width: 0px;
    z-index: 20;
}


.xiv-ui-viewbox-infooverlay-text {
    position: absolute;
    text-align: right;
    font-size: 12px;		
    font-family: Helvetica,"Helvetica neue", Arial, sans-serif; 
    white-space: nowrap;
    padding: 8px;
    top: 0px;
    left: 0px;
    height: 0px;
    width: 0px;
}


.xiv-ui-viewbox-button-helptoggle {
    width: 15px;
    height: 15px;
    opacity: .5;
}

.xiv-ui-viewbox-button-helptoggle-on {
    opacity: 1;
    background-color: black;
}


.xiv-ui-viewbox-helpoverlay {
    position: absolute;
    background-color: rgba(120,120,120,.9);
    border-radius: 20px;
    border: solid 1px white;
    font-size: 8px;
    color: white;
    text-align: left;
    top: 10%;
    left: 10%;
    height: 80%;
    width: 80%;
    z-index: 200;
    visibility: hidden;
}


.xiv-ui-viewbox-helpoverlay-text {
    position: absolute;
    text-align: center;
    font-size: 12px;		
    font-family: Helvetica,"Helvetica neue", Arial, sans-serif; 
    white-space: nowrap;
    padding: 8px;
    top: 0px;
    left: 0px;
    height: calc(100% - 16px);
    width: calc(100% - 16px);
}

.xiv-ui-viewbox-button-crosshairtoggle {
    width: 15px;
    height: 15px;
    opacity: .5;
}
.xiv-ui-viewbox-button-crosshairtoggle-on {
    opacity: 1;
    background-color: black;
}


.xiv-ui-viewbox-component-highlight {
  box-sizing:border-box;
  -moz-box-sizing:border-box;
  -webkit-box-sizing:border-box;
    border: solid rgba(250,250,250,1) 1px;
    background-color: black;
}
