/*#
 * @author sunilk@mokacreativellc.com (Sunil Kumar)
 */



.xiv-ui-viewboxhandler-handle {
    position: relative; 
    cursor: pointer;
    width: 6px;
    height: 13px;
    opacity: .5;
    content:url('/xnat/images/viewer/xiv/ui/ViewBoxManager/handle.png');
}



.xiv-ui-viewboxhandler-viewboxdragclone {
    border: solid 1px rgb(255,255,255);
    background-color: rgba(0,0,0,.5);
    z-index: 10000
}