/*
 * @author sunilk@mokacreativellc.com (Sunil Kumar)
 */



.xiv-ui-viewboxdialogs-generic-toggle{
    width: 15px;
    height: 15px;
    opacity: .5;
    background-color: black;
    z-index: 11;
}


.xiv-ui-viewboxdialogs-generic-toggle-on{
    opacity: 1;
    background-color: black;
}




.xiv-ui-viewboxdialogs-infodialog {
    position: absolute;
    background-color: rgba(0,0,0,0);
    font-size: 12px;
    color: white;
    top: 0px;
    left: 0px;
    width: 200px;
    z-index: 10;
    border: none;
    cursor: default;
}


.xiv-ui-viewboxdialogs-infodialog-hovered {    
    border: solid 1px;
    border-radius: 5px;
    border-color: white;
    background-color: rgba(60,60,60,.5);
}


.xiv-ui-viewboxdialogs-infodialog-title { 
    height: 7px;
    background-color: rgba(100,100,100,1);
}


.xiv-ui-viewboxdialogs-infodialog-content {    

}


.xiv-ui-viewboxdialogs-infodialog-closebutton {    

}


.xiv-ui-viewboxdialogs-infodialog-closebutton-image {    

}


.xiv-ui-viewboxdialogs-infodialog-text {
    white-space: nowrap;
    text-align: left;
    font-size: 12px;
}










