/*
 * @author sunilk@mokacreativellc.com (Sunil Kumar)
 */



.xiv-ui-viewboxdialogs-generic-toggle{
    width: 15px;
    height: 15px;
    opacity: .5;
    background-color: black;
}


.xiv-ui-viewboxdialogs-generic-toggle-on{
    opacity: 1;
    background-color: black;
}




.xiv-ui-viewboxdialogs-infodialog {
    position: absolute;
    background-color: rgba(0,0,0,0);
    font-size: 12px;
    color: rgb(155,155,155) !important;
    top: 0px;
    left: 0px;
    width: 200px;
    z-index: 10;
    border: none;
    cursor: default;
    border: solid 1px;
    border-radius: 5px;
    border-color: rgba(255,255,255,0);
    background-color: rgba(60,60,60,0);
    transition-property: color, background-color, border-color; 
    transition-duration: .2s;
}


.xiv-ui-viewboxdialogs-infodialog-text {
    color: rgb(155,155,155);
    transition-property: color; 
    transition-duration: .2s;
}


.xiv-ui-viewboxdialogs-infodialog:hover { 
    color: rgb(255,255,255) !important;  
    border-color: rgba(255,255,255,1);
    background-color: rgba(60,60,60,.5);
}


.xiv-ui-viewboxdialogs-infodialog-content:hover > .xiv-ui-viewboxdialogs-infodialog-text { 
    color: rgb(255,255,255);
}


.xiv-ui-viewboxdialogs-infodialog-title { 
    opacity: 0;
    transition-property: opacity; 
}



.xiv-ui-viewboxdialogs-infodialog,
.xiv-ui-viewboxdialogs-infodialog-title { 
    transition-duration: .15s;
    transition-timing-function: ease-out;    
}


.xiv-ui-viewboxdialogs-infodialog:hover > .xiv-ui-viewboxdialogs-infodialog-title {    
    opacity: 1;
}


.xiv-ui-viewboxdialogs-infodialog-content {    

}


.xiv-ui-viewboxdialogs-infodialog-closebutton {    

}


.xiv-ui-viewboxdialogs-infodialog-closebutton-image {    

}


.xiv-ui-viewboxdialogs-infodialog-text {
    white-space: nowrap;
    text-align: left;
    font-size: 12px;
}










