/*
 * @author sunilk@mokacreativellc.com (Sunil Kumar)
 */

.xiv-ui-viewboxinteractorhandler-generic-toggle
 {
    width: 15px;
    height: 15px;
    opacity: .5;
}

.xiv-ui-viewboxinteractorhandler-generic-toggle-on
{
    opacity: 1;
    background-color: black;
}


.xiv-ui-viewboxinteractorhandler-generic-zippytree {
    top: 30px;
    width: calc(100% - 20px);
    height: calc(100% - 30px);
}



.xiv-ui-viewboxinteractorhandler-generic-dialog  {
    width: 470px;
    height: 330px;
    cursor: default;
    z-index: 1000000;
}



.xiv-ui-viewboxinteractorhandler-viewframe-grab {
  cursor:hand;
  cursor:grab;
  cursor:-moz-grab;
  cursor:-webkit-grab;
}



.xiv-ui-viewboxinteractorhandler-viewframe-grabbing {
  cursor:grabbing;
  cursor:-moz-grabbing;
  cursor:-webkit-grabbing;
}

.xiv-ui-viewboxinteractorhandler-viewframe-grab-custom {
  cursor: url(https://mail.google.com/mail/images/2/openhand.cur), default !important;
}


.xiv-ui-viewboxinteractorhandler-viewframe-grabbing-custom {
  cursor: url(https://mail.google.com/mail/images/2/closedhand.cur), default !important;
}


.xiv-ui-viewboxinteractorhandler-viewframe-zoom-in {
  cursor: zoom-in;
  cursor: -webkit-zoom-in;
}


.xiv-ui-viewboxinteractorhandler-viewframe-zoom-out {
  cursor: zoom-out;
  cursor: -webkit-zoom-out;
}



.xiv-ui-viewboxinteractorhandler-zoom-follower {
    color: white;
    font-family: Helvetica,"Helvetica neue", Arial, sans-serif;
    font-size: 10px;
    position: absolute;
    z-index: 1000;
    visibility: hidden;
    text-wrap: none;
    width: 200px;
}



.xiv-ui-viewboxinteractorhandler-levelsdialog  {
    position: absolute;
    font-size: 12px;
    top: 0px;
    color: white;
    left: 0px;
    width: 200px;
    z-index: 10;
    cursor: default;
    border: solid 1px;
    border-radius: 5px;
    overflow: visible;

    /* transition styles */
    height: 165px;
    border-color: rgba(0,0,0,0);
    background-color: rgba(0,0,0,0);
    transition-property: height; background-color, border-color;
}

 
.xiv-ui-viewboxinteractorhandler-levelsdialog:hover { 
    height: 440px;
    background-color: rgba(0,0,0,.9);
    border-color: rgba(255,255,255, 1);
}


.xiv-ui-viewboxinteractorhandler-levelsdialog-title {
    opacity: 0;
    transition-property: opacity;
}

.xiv-ui-viewboxinteractorhandler-levelsdialog,
.xiv-ui-viewboxinteractorhandler-levelsdialog-title {
    transition-duration: .3s;
    /*transition-timing-function: ease-out;*/
}

.xiv-ui-viewboxinteractorhandler-levelsdialog:hover > .xiv-ui-viewboxinteractorhandler-levelsdialog-title{ 
    opacity: 1;
}

.xiv-ui-viewboxinteractorhandler-levelsdialog-max:hover > .xiv-ui-viewboxinteractorhandler-levelsdialog-title{ 
    opacity: 1;
}




.xiv-ui-viewboxinteractorhandler-histdetails {    
    position: relative;
    color: white;
    font-size: 10px;
    height: 17px;
    width: 100%;
    cursor: pointer;
    box-sizing:border-box;
    -moz-box-sizing:border-box;
    -webkit-box-sizing:border-box;
    font-family: Helvetica,"Helvetica neue", Arial, sans-serif;
    border: solid 1px rgba(80, 80, 80, 0);
    transition-property: height, border;
    transition-duration: .3s;
    overflow: hidden;
}


.xiv-ui-viewboxinteractorhandler-histdetails-expandbutton {    
    background-color: rgba(80,80,80, 1);
    position: absolute;
    top: 0px;
    left: 0px;
    height: 15px;
    width: 100%;
    padding-left: 5px;
    padding-top: 1px;
    z-index: 2;
}



.xiv-ui-viewboxinteractorhandler-histdetails-fadebottom {
    visibility: hidden;
    position: absolute;
    width: 100%;
    top: calc(100% - 100px);
    height: 100px;
    left: 0px;
    background: linear-gradient(to bottom,  rgba(0,0,0,0) 0%, rgba(0,0,0,1) 100%); 
}


.xiv-ui-viewboxinteractorhandler-histdetails:hover {    
    border: solid 1px rgba(80, 80, 80, 1);
    height: 110px;
}
