/*
 * @author sunilk@mokacreativellc.com (Sunil Kumar)
 */



.xiv-ui-viewboxdialogs-info-toggle,
.xiv-ui-viewboxdialogs-help-toggle,
.xiv-ui-viewboxdialogs-levels-toggle,
.xiv-ui-viewboxdialogs-rendercontrol-toggle
{
    width: 15px;
    height: 15px;
    opacity: .5;
    background-color: black;
}


.xiv-ui-viewboxdialogs-info-toggle-on,
.xiv-ui-viewboxdialogs-help-toggle-on,
.xiv-ui-viewboxdialogs-levels-toggle-on,
.xiv-ui-viewboxdialogs-rendercontrol-toggle-on
 {
    opacity: 1;
    background-color: black;
}




.xiv-ui-viewboxdialogs-infodialog {
    position: absolute;
    background-color: rgba(0,0,0,0);
    font-size: 12px;
    color: white;
    top: 0px;
    left: 0px;
    width: 200px;
    z-index: 20;
    border: none;
}


.xiv-ui-viewboxdialogs-infodialog-hovered {    
    border: solid 1px;
    border-radius: 5px;
    border-color: white;
    background-color: rgba(60,60,60,.5);
}


.xiv-ui-viewboxdialogs-infodialog-title { 
    height: 5px;
    opacity: 0
}


.xiv-ui-viewboxdialogs-infodialog-content {    
    padding-left: 5px;
    padding-top: 0px;
}


.xiv-ui-viewboxdialogs-infodialog-title {    
    height: 4px;
    background-color: rgb(90,90,90);
}




.xiv-ui-viewboxdialogs-infodialog-text {
    position: absolute;
    font-size: 12px;		
    font-family: Helvetica,"Helvetica neue", Arial, sans-serif; 
    white-space: nowrap;
    top: 0px;
    left: 0px;
    height: 0px;
    width: 0px;
}


.xiv-ui-viewboxdialogs-inusedialog {
    position: absolute;
    top: calc(50% - 60px);
    left: calc(50% - 125px);
    width: 250px;
    height: 100px;
    background: black;
    background-color: black;
    border: 1px solid white;
    padding: 4px;
    color: white;
    font-size: 12px;		
    font-family: Helvetica,"Helvetica neue", Arial, sans-serif; 
    border-radius: 10px;
    outline: 0;
    z-index: 200;
}




.xiv-ui-viewboxdialogs-rendercontrol-dialog {
    width: 500px;
    height: 300px;
}


.xiv-ui-viewboxdialogs-levels-dialog {
    width: 500px;
    height: 400px;
}


