/*
 * @author kumar.sunil.p@gmail.com (Sunil Kumar)
 */


.xiv-ui-zoomdisplay {
    position: absolute;
    top: 22px;
    height: 20px;
    width: 80px;
    left: calc(100% - 90px);
    text-wrap: none;
    font-size: 10px !important;
}


.xiv-ui-zoomdisplay-text {
    font-size: 10px;
}