/*
 * @author sunilk@mokacreativellc.com (Sunil Kumar)
 */

.xiv-ui-histogram  {
    position: absolute;
    top: 30px;
    left: calc(50% - 125px);
    width: 250px;
    height: 100px;
    background-color: grey;
    z-index: 5000;
}

.xiv-ui-histogram-canvas,
.xiv-ui-histogram-linecanvas {
    position: absolute;
    height: calc(100% - 25px);
    width: calc(100% - 10px);
    top: 5px;
    left: 5px;
}


.xiv-ui-histogram-canvas {
    background-color: white;
}


.xiv-ui-histogram-max,
.xiv-ui-histogram-min {
    position: absolute;
    height: 14px;
    width: 50px;
    top: calc(100% - 18px);
    font-family:  Helvetica,"Helvetica neue", Arial, sans-serif;
    font-size: 10px;
    color: white;
}



.xiv-ui-histogram-max {
    left: calc(100% - 60px);
    text-align: right;
}


.xiv-ui-histogram-min {
    left: 10px;
    text-align: left;
}

